/* Labels */

label {
    font-size: .875em;
    transition: all .2s;
    padding-right: .4rem;
    font-weight: normal;
    font-family: 'Roboto-Bold', Arial, sans-serif;
}
[disabled] label,
label[disabled] { color: rgba(0,0,0,.4); }


/* Inputs */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="month"],
input[type="date"],
input[type="week"],
input[type="email"],
input[type="number"],
select,
textarea {
    cursor: text;
    transition: all .2s ease-in-out;
    border: 0;
    border-bottom: .0625rem solid #aaa;
    background-color: transparent;
    width: 16rem;
    color: inherit;
    padding: 0;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */  opacity: .7; }
    &::-moz-placeholder          { /* Firefox 19+ */          opacity: .7; }
    &:-ms-input-placeholder      { /* IE 10+ */               opacity: .7; }
    &:-moz-placeholder           { /* Firefox 18- */          opacity: .7; }
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="month"],
input[type="date"],
input[type="week"],
input[type="email"],
input[type="number"] {
    height: 1.8em;
    vertical-align: middle;
}

select { vertical-align: middle; }

textarea { display: block; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="month"]:focus,
input[type="date"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-bottom: .0625rem solid #1565C0;
    -webkit-box-shadow: 0 .0625rem 0 0 #3f51b5;
       -moz-box-shadow: 0 .0625rem 0 0 #3f51b5;
            box-shadow: 0 .0625rem 0 0 #3f51b5;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="month"][disabled],
input[type="date"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
select[disabled],
textarea[disabled],
[disabled] input[type="text"],
[disabled] input[type="password"],
[disabled] input[type="search"],
[disabled] input[type="month"],
[disabled] input[type="date"],
[disabled] input[type="week"],
[disabled] input[type="email"],
[disabled] input[type="number"],
[disabled] select,
[disabled] textarea {
    border-bottom: .0625rem dotted #aaa;
    background-color: transparent;
    color: rgba(0,0,0,.4);
}

input[disabled],
select[disabled],
textarea[disabled],
[disabled] input,
[disabled] select,
[disabled] textarea {
    cursor: no-drop!important;
}